#IGNORE .IDEA
.idea

#IGNORE FTP QUOTA
.ftpquota

#IGNORE ZEND MAIN DIRECTORY
/ZendFramework-1.11.11

#IGNORE SESSION
application/data/session



#IGNORE PUBLIC FOLDER
/public/

#IGNORE SQL
*.sql

#IGNORE ZIP FILE
.zip

#IGNORE info
info/